:root {
    --headerback: #2b036b;
    --headertext: #cfcf08;
    --asideback: #c3d0f7;
    --asidetext: #2b036b;
    --workback: #fcd27c;
    --worktext: #2b036b;
    --cardfooter: #2b036b;
    --cardtext: #ead701;
    --bodyback: #9da0a8;
     


}