:root {
    --headerback: #2b036b;
    --headertext: #cfcf08;
    --bordercolor: #a89e32;
    --asideback: #11161b;
    --asidetext: #bdb744;
    --workback: #fcd27c;
    --worktext: #2b036b;
    --cardfooter: #2b036b;
    --cardtext: #ead701;
    --bodyback: #9da0a8;
     


}