body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2%;  
    background: var(--body-background);
    color: var(--body-text);
}

h1 {

}

h2 {

}

/* My name and nav links */
header {

}
/* use media queries to make responsive layout */
nav {

}

section {

}

footer {

}