* {
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    padding: 20px;
    text-align: left;
    background: var(--headerback);
    color: var(--headertext);
}

h1 {
    display: block;
    font-size: 3em;
    /* font-weight: bold; */
}

nav {
    display: flex;
    text-align: right;
    font-size: 1.5em;
}

nav a {
    display: inline;
    padding: 20px;
    color: var(--headertext);
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}
main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    display: flex;
    width: 20%;
    flex-direction: column;
    padding: 20px;
    background: var(--asideback);
    color: var(--asidetext);
}
/* flexbox for work samples */
.work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    /* Centers along the main axis determined by flex-direction */
  justify-content: right;
    /* Centers along the opposite axis */
  align-items: center;
  width: 90%;
    /* Uses the height of the viewport */
  height: 100vh;
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
}

.card {
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  
  .card header {
    padding: 10px;
    background: #038793;
    color: #ead701;
  }
  
  .card img {
    width: 100%;
  }